{% comment %} base html for aplication main in project Bill_to_split {% endcomment %}

{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark" />

    {% comment %} Script to keep changed theme {% endcomment %}
    <script>
        (function() {
            // load of values from localStorage
            const savedTheme = localStorage.getItem("theme") || "auto";
            const savedColor = localStorage.getItem("color-theme") || "{% static 'styles/pico.amber.min.css' %}";

            // Setting theme
            document.documentElement.setAttribute("data-theme", savedTheme);

            // Settinf color scheme
            document.write(`<link id="theme-stylesheet" rel="stylesheet" href="${savedColor}">`);
        })();
    </script>

    <link rel="stylesheet" href="{% static 'styles/base.css' %}">

<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background: var(--pico-background-color);
        border: 1px solid var(--pico-primary);
        padding: 5px;
        z-index: 1;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>

    {% block css_files %}
    {% endblock css_files %}

    <title>
        {% block title %}
        Bill to split {% comment %} default title {% endcomment %}
        {% endblock title %}
    </title>

</head>
<body>

    <nav class="top_navbar">
        <ul class="nav_left">
            <li class="">
                <form method="post" action="{% url 'index' %}">
                    {% csrf_token %}
                    <button type="submit" class='button-small'>Welcome page</button>
                </form>
            </li>
            
            {% if user.is_authenticated %}

            <li class="">
                <form method="post" action="{% url 'overview' %}">
                    {% csrf_token %}
                    <button type="submit" class='button-small'>My overview</button>
                </form>
            </li>

            <li class="">
                <form method="post" action="{% url 'notifications' %}">
                    {% csrf_token %}
                    <button type="submit" class='button-small'>Notifications</button>
                </form>
            </li>

            <li class="">
                <form method="post" action="{% url 'list_of_ledgers' %}">
                    {% csrf_token %}
                    <button type="submit" class='button-small'>My ledgers</button>
                </form>
            </li>

            {% else %}

            <li class="">
                <form method="post" action="{% url 'overview' %}">
                    {% csrf_token %}
                    <button type="submit" class='button-small outline'>My overview</button>
                </form>
            </li>

            <li class="">
                <form method="post" action="{% url 'notifications' %}">
                    {% csrf_token %}
                    <button type="submit" class='button-small outline'>Notifications</button>
                </form>
            </li>

            <li class="">
                <form method="post" action="{% url 'list_of_ledgers' %}">
                    {% csrf_token %}
                    <button type="submit" class='button-small outline'>My ledgers</button>
                </form>
            </li>

            {% endif %}

        </ul>

        <ul class="nav_right">
            
            <li><button id="theme-toggle">🌞 / 🌒</button></li>
            <li class="dropdown">
                <button id="color-toggle">🎨</button>
                <ul class="dropdown-content" id="color-options">

                    <li><button class="color-pick-button" data-color="{% static 'styles/pico.cyan.min.css' %}">
                        <span class="color-pick-color" style="background-color: #047878;"></span>
                    </button></li>

                    <li><button class="color-pick-button" data-color="{% static 'styles/pico.jade.min.css' %}">
                        <span class="color-pick-color" style="background-color: #007a50;"></span>
                    </button></li>
            
                    <li><button class="color-pick-button" data-color="{% static 'styles/pico.green.min.css' %}">
                        <span class="color-pick-color" style="background-color: #398712;"></span>
                    </button></li>
            
                    <li><button class="color-pick-button" data-color="{% static 'styles/pico.lime.min.css' %}">
                        <span class="color-pick-color" style="background-color: #a5d601;"></span>
                    </button></li>
            
                    <li><button class="color-pick-button" data-color="{% static 'styles/pico.yellow.min.css' %}">
                        <span class="color-pick-color" style="background-color: #f2df0d;"></span>
                    </button></li>
            
                    <li><button class="color-pick-button" data-color="{% static 'styles/pico.amber.min.css' %}">
                        <span class="color-pick-color" style="background-color: #ffbf00;"></span>
                    </button></li>
            
                    <li><button class="color-pick-button" data-color="{% static 'styles/pico.pumpkin.min.css' %}">
                        <span class="color-pick-color" style="background-color: #ff9500;"></span>
                    </button></li>
            
                    <li><button class="color-pick-button" data-color="{% static 'styles/pico.orange.min.css' %}">
                        <span class="color-pick-color" style="background-color: #d24317;"></span>
                    </button></li>
                    
                    <li><button class="color-pick-button" data-color="{% static 'styles/pico.red.min.css' %}">
                        <span class="color-pick-color" style="background-color: #c52f21;"></span>
                    </button></li>

                    <li><button class="color-pick-button" data-color="{% static 'styles/pico.pink.min.css' %}">
                        <span class="color-pick-color" style="background-color: #d92662;"></span>
                    </button></li>

                    <li><button class="color-pick-button" data-color="{% static 'styles/pico.fuchsia.min.css' %}">
                        <span class="color-pick-color" style="background-color: #c1208b;"></span>
                    </button></li>

                    <li><button class="color-pick-button" data-color="{% static 'styles/pico.purple.min.css' %}">
                        <span class="color-pick-color" style="background-color: #9236a4;"></span>
                    </button></li>

                    <li><button class="color-pick-button" data-color="{% static 'styles/pico.violet.min.css' %}">
                        <span class="color-pick-color" style="background-color: #7540bf;"></span>
                    </button></li>

                    <li><button class="color-pick-button" data-color="{% static 'styles/pico.indigo.min.css' %}">
                        <span class="color-pick-color" style="background-color: #524ed2;"></span>
                    </button></li>

                    <li><button class="color-pick-button" data-color="{% static 'styles/pico.blue.min.css' %}">
                        <span class="color-pick-color" style="background-color: #2060df;"></span>
                    </button></li>

                    <li><button class="color-pick-button" data-color="{% static 'styles/pico.azure.min.css' %}">
                        <span class="color-pick-color" style="background-color: #0172ad;"></span>
                    </button></li>
                    
                    <li><button class="color-pick-button" data-color="{% static 'styles/pico.slate.min.css' %}">
                        <span class="color-pick-color" style="background-color: #525f7a;"></span>
                    </button></li>

                    <li><button class="color-pick-button" data-color="{% static 'styles/pico.zinc.min.css' %}">
                        <span class="color-pick-color" style="background-color: #646b79;"></span>
                    </button></li>

                    <li><button class="color-pick-button" data-color="{% static 'styles/pico.grey.min.css' %}">
                        <span class="color-pick-color" style="background-color: #ababab;"></span>
                    </button></li>

                    <li><button class="color-pick-button" data-color="{% static 'styles/pico.sand.min.css' %}">
                        <span class="color-pick-color" style="background-color: #ccc6b4;"></span>
                    </button></li>



                </ul>
            </li>

            {% if user.is_authenticated %}
            <span class="">Logged in as {{ user.username }} |</span>
                <li class="">
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class='button-small'>Logout</button>
                    </form>
                </li>
            {% else %}
                <li class="">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <button type="submit" class='button-small'>Login</button>
                    </form>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class= "h1_title">
        <h1>
            {% block page_title %}
            {% endblock page_title %}
        </h1>
    </div>

    <div class= "content">
        {% block content %}
        {% endblock content %}
    </div>

<script src="{% static 'scripts/script.js' %}"></script>


</body>
</html>