{% extends "base.html" %}

{% comment %} ledger add html for aplication main in project Bill_to_split {% endcomment %}

{% load static %}

{% block css_files %}    
    <link rel="stylesheet" href="{% static 'main/styles/ledger.css' %}">
{% endblock css_files %}

{% block title %}New ledger
{% endblock title %}

{% block page_title %} This page is to create a new ledger
{% endblock page_title %}

{% block content %}

<form method="post">
    {% csrf_token %}


    {{ form }}

    <p>
        <button type="submit" class="">
        Create a Ledger
        </button>
    </p>
</form>


{% endblock content %}