{% extends 'base.html' %}

{% comment %} list of ledgers of user for aplication main in project Bill_to_split {% endcomment %}

{% load static %}

{% block css_files %}    
    <link rel='stylesheet' href='{% static 'main/styles/list_of_ledgers.css' %}'>
{% endblock css_files %}

{% block title %}List od ledgers
{% endblock title %}

{% block page_title %} Ledgers overview of {{ user.username }}
{% endblock page_title %}

{% block content %}

    <form method='post' action='{% url 'ledger_add' %}'>
        {% csrf_token %}
        <button type='submit' class='button-small'>Create new ledger</button>
    </form>

    <div class='card-container'>

        {% for ledger in ledgers %}

            <div class='card'>
                <div class='card-header'>

                    <table>
                        <thead>
                            <tr>
                                <th class='card-name'>
                                    <h3>{{ ledger.name }}</h3>
                                </th>
                                <th class='card-buttons'>
                                    <form method='post'>
                                        {% csrf_token %}
                                        <button type='submit' class='button-small contrast' name='ledger-detail' value='{{ ledger.id }}'>
                                            Details
                                        </button>
                                    </form>
                                    <form method='post'>
                                        {% csrf_token %}
                                        <button type='submit' class='button-small contrast' name='new-payment' value='{{ ledger.id }}'>
                                            New payment
                                        </button>
                                    </form>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <p>Your balance: {{ledger.user_balance}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <details>
                    <summary class='card-open-button'>
                        <p>
                            Quick overview
                        </p>
                    </summary>
                    <br>
                    <div class='divider'></div>
                    <br>
                    <div class='card-body'>
                        <div class='body-table'>
                            <table>
                                <thead>
                                    <tr>
                                        <th>User</th>
                                        <th>Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for name, value in ledger.balances.items %}
                                        <tr>
                                            <td>{{ name }}:</td>
                                            <td>{{ value }}</td>
                                        </tr>
                                    {% empty %}
                                        <p>No payments in this ledger yet.</p>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class='body-text'>
                            <h3>ledger description</h3><br>
                            <p>{{ ledger.desc}}</p>
                        </div>
                    </div>

                    <div class='divider'></div>

                    <div class='card-footer'>
                        <div class='left-group'>
                            <table class='footer-table'>
                                <tr>
                                    <td class='card-table-td1'>Ledger owner:</td>
                                    <td class='card-table-td2'>{{ledger.user}}</td>
                                </tr>
                                <tr>
                                    <td>Ledger created:</td>
                                    <td>{{ledger.creation_time|date:"F j Y"}}, {{ledger.creation_time|time:"H:i" }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class='buttons-right'>
                            {% if user == ledger.user%}
                                <form method='post'>
                                    {% csrf_token %}
                                    <button type='submit' class='button-small custom-warning' name='ledger-delete' value='{{ ledger.id }}'>
                                        Delete this ledger
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </details>
            </div>

        {% empty %}

        <p>So far there is no ledger connected to your name, start by creating one.</p>

        {% endfor %}

    </div>
            
{% endblock content %}